<%- include("partials/header.ejs") %>

    <body>
            <form action="/search">
                 <input type="text" placeholder="Type keyword" name="keyword" />
                
                  <button> Search </button>
                  <a id="favLink" href="/getKeywords"> See Favorites </a>
            </form>
            <hr>
            <div id="resultsContainer">
                <% imageUrlArray.forEach(function(imageUrl, i){ %>
                    <%- (i % 3 == 0)?"<br>":"" %>
                    <img src='<%= imageUrl %>' width="200" height="200" />
                    <img class="favoriteIcon" src="img/favorite.png" width="20">
                <% }); %>
                </div>
              
        </main>


<%- include("partials/footer.ejs") %>

    </body>
</html>